@model APILab.eCommerce.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ItemId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            Quantity
        </dt>

        <dd>
            <div id="quantity"></div>
        </dd>

    </dl>
</div>
<p>
    | @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Create Order", "Order") |
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script language="javascript">
        $.ajax({
            type: "GET",
            dataType: "json",
            url: 'http://localhost:32534/api/Inventories/@Model.ItemId',
            success: function(data) {
                $("#quantity")
                   .text(data.Quantity);
                console.log(data);
            },
            error: function() {
                alert("Could not retrieve inventory data");
            }
        });
    </script>

}